In [1]:
# Tratamiento de datos
# ==============================================================================
import numpy as np
import pandas as pd
from tabulate import tabulate

# Gráficos
# ==============================================================================
import matplotlib.pyplot as plt
from matplotlib import style
import matplotlib.ticker as ticker
import seaborn as sns

# Preprocesado y modelado
# ==============================================================================
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RepeatedKFold
from sklearn.neighbors import KNeighborsClassifier
from sklearn.datasets import make_blobs
from sklearn.metrics import euclidean_distances
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import Ridge

from skopt.space import Real, Integer
from skopt.utils import use_named_args
from skopt import gp_minimize
from skopt.plots import plot_convergence

# Varios
# ==============================================================================
import multiprocessing
import random
from itertools import product
from fitter import Fitter, get_common_distributions

In [2]:
diamonds_original_withoutcity = pd.read_csv('db/diamonds_train.csv')
diamonds_test_withoutcity = pd.read_csv('db/diamonds_test.csv')

In [3]:
diamonds_original_withoutcity

,carat,cut,color,clarity,depth,table,price,x,y,z,city
0,1.21,Premium,J,VS2,62.4,58.0,4268,6.83,6.79,4.25,Dubai
1,1.02,Premium,J,VS2,61.6,58.0,3513,6.40,6.35,3.93,Dubai
2,0.77,Premium,J,VS2,62.3,58.0,1792,5.86,5.80,3.63,Dubai
3,1.51,Premium,J,VS2,59.6,60.0,7553,7.58,7.48,4.49,Dubai
4,0.57,Premium,J,VS2,60.2,62.0,1176,5.40,5.33,3.23,Dubai
...,...,...,...,...,...,...,...,...,...,...,...
40450,0.54,Ideal,F,IF,62.2,54.0,2729,5.24,5.27,3.27,Surat
40451,0.53,Ideal,F,IF,61.9,54.0,2802,5.22,5.25,3.24,Surat
40452,0.30,Ideal,F,IF,62.3,55.0,886,4.30,4.34,2.69,Surat
40453,0.26,Ideal,F,IF,60.9,55.0,768,4.15,4.23,2.55,Surat
40454,0.31,Ideal,F,IF,61.2,56.0,921,4.37,4.42,2.69,Surat

In [4]:
diamonds_original_withoutcity.drop(columns=['city','depth','table','x','y','z'], inplace=True, axis=1)

In [5]:
diamonds_test_withoutcity.drop(columns=['city','depth','table','x','y','z'], inplace=True, axis=1)

In [6]:
diamonds_original_withoutcity.cut.unique()

array(['Premium', 'Very Good', 'Fair', 'Good', 'Ideal'], dtype=object)

In [7]:
diamonds_original_withoutcity.color.unique()

array(['J', 'E', 'I', 'G', 'D', 'H', 'F'], dtype=object)

In [8]:
diamonds_original_withoutcity.clarity.unique()

array(['VS2', 'VVS2', 'SI1', 'VS1', 'SI2', 'I1', 'VVS1', 'IF'],
      dtype=object)

In [9]:
'''diamonds_with_cuts = diamonds_original_withoutcity.cut.map({'Fair':0.20, 'Good':0.40,'Very Good':0.60, 'Premium':0.80,'Ideal':1})
diamonds_with_colors = diamonds_original_withoutcity.color.map({'J':0.14, 'I':0.28,'H':0.43, 'G':0.57,'F':0.71,'E':0.86, 'D':1})
diamonds_with_clarity = diamonds_original_withoutcity.clarity.map({'I1':0.20, 'SI1':0.40,'SI2':0.40, 'VS1':0.6,'VS2':0.6,'VVS1':0.80,'VVS2':0.80,'IF':1})


diamonds_test_with_cuts = diamonds_test_withoutcity.cut.map({'Fair':0.20, 'Good':0.40,'Very Good':0.60, 'Premium':0.80,'Ideal':1})
diamonds_test_with_colors = diamonds_test_withoutcity.color.map({'J':0.14, 'I':0.28,'H':0.43, 'G':0.57,'F':0.71,'E':0.86, 'D':1})
diamonds_test_with_clarity = diamonds_test_withoutcity.clarity.map({'I1':0.20, 'SI1':0.40,'SI2':0.40, 'VS1':0.6,'VS2':0.6,'VVS1':0.80,'VVS2':0.80,'IF':1})'''

"diamonds_with_cuts = diamonds_original_withoutcity.cut.map({'Fair':0.20, 'Good':0.40,'Very Good':0.60, 'Premium':0.80,'Ideal':1})\ndiamonds_with_colors = diamonds_original_withoutcity.color.map({'J':0.14, 'I':0.28,'H':0.43, 'G':0.57,'F':0.71,'E':0.86, 'D':1})\ndiamonds_with_clarity = diamonds_original_withoutcity.clarity.map({'I1':0.20, 'SI1':0.40,'SI2':0.40, 'VS1':0.6,'VS2':0.6,'VVS1':0.80,'VVS2':0.80,'IF':1})\n\n\ndiamonds_test_with_cuts = diamonds_test_withoutcity.cut.map({'Fair':0.20, 'Good':0.40,'Very Good':0.60, 'Premium':0.80,'Ideal':1})\ndiamonds_test_with_colors = diamonds_test_withoutcity.color.map({'J':0.14, 'I':0.28,'H':0.43, 'G':0.57,'F':0.71,'E':0.86, 'D':1})\ndiamonds_test_with_clarity = diamonds_test_withoutcity.clarity.map({'I1':0.20, 'SI1':0.40,'SI2':0.40, 'VS1':0.6,'VS2':0.6,'VVS1':0.80,'VVS2':0.80,'IF':1})"

In [10]:
diamonds_with_cuts = diamonds_original_withoutcity.cut.map({'Fair':1, 'Good':2,'Very Good':3, 'Premium':4,'Ideal':5})
diamonds_with_colors = diamonds_original_withoutcity.color.map({'J':1, 'I':2,'H':3, 'G':4,'F':5,'E':6, 'D':7})
diamonds_with_clarity = diamonds_original_withoutcity.clarity.map({'I1':1, 'SI1':2,'SI2':3, 'VS1':4,'VS2':5,'VVS1':6,'VVS2':7,'IF':8})


diamonds_test_with_cuts = diamonds_test_withoutcity.cut.map({'Fair':1, 'Good':2,'Very Good':3, 'Premium':4,'Ideal':5})
diamonds_test_with_colors = diamonds_test_withoutcity.color.map({'J':1, 'I':2,'H':3, 'G':4,'F':5,'E':6, 'D':7})
diamonds_test_with_clarity = diamonds_test_withoutcity.clarity.map({'I1':1, 'SI1':2,'SI2':3, 'VS1':4,'VS2':5,'VVS1':6,'VVS2':7,'IF':8})

In [11]:
diamonds_original_withoutcity['clarity'] = diamonds_with_clarity
diamonds_test_withoutcity['clarity'] = diamonds_test_with_clarity

In [12]:
diamonds_original_withoutcity['cut'] = diamonds_with_cuts
diamonds_test_withoutcity['cut'] = diamonds_test_with_cuts

In [13]:
diamonds_original_withoutcity['color'] = diamonds_with_colors
diamonds_test_withoutcity['color'] = diamonds_test_with_colors

In [14]:
target = "price"
cat_features = ['cut','color','clarity']
num_features = ['carat']

features = cat_features + num_features

In [15]:
#diamonds_original_withoutcity['carat'] *= 90
#diamonds_original_withoutcity['color'] *= 10
#diamonds_original_withoutcity['clarity'] *= 10
#diamonds_original_withoutcity['cut'] *= 4

In [16]:
#diamonds_test_withoutcity['carat'] *= 90
#diamonds_test_withoutcity['color'] *= 10
#diamonds_test_withoutcity['clarity'] *= 10
#diamonds_test_withoutcity['cut'] *= 4

In [17]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
diamonds_scaled = scaler.fit_transform(diamonds_original_withoutcity.loc[:,features].values)
diamonds_test_scaled = scaler.fit_transform(diamonds_test_withoutcity.loc[:,features].values)

#from sklearn.preprocessing import StandardScaler
#scaler = StandardScaler()
#diamonds_scaled = scaler.fit_transform(diamonds_original_withoutcity.loc[:,features].values)
#diamonds_test_scaled = scaler.fit_transform(diamonds_test_withoutcity.loc[:,features].values)

In [18]:
diamond_scaler_df = pd.DataFrame(diamonds_scaled, columns=["carat","cut","color","clarity"])
diamond_test_scaler_df = pd.DataFrame(diamonds_test_scaled, columns=["carat","cut","color","clarity"])

In [19]:
diamond_scaler_df

       carat       cut     color   clarity
0       0.75  0.000000  0.571429  0.234884
1       0.75  0.000000  0.571429  0.190698
2       0.75  0.000000  0.571429  0.132558
3       0.75  0.000000  0.571429  0.304651
4       0.75  0.000000  0.571429  0.086047
...      ...       ...       ...       ...
40450   1.00  0.666667  1.000000  0.079070
40451   1.00  0.666667  1.000000  0.076744
40452   1.00  0.666667  1.000000  0.023256
40453   1.00  0.666667  1.000000  0.013953
40454   1.00  0.666667  1.000000  0.025581

[40455 rows x 4 columns]

In [20]:
diamond_test_scaler_df

       carat       cut     color   clarity
0       0.50  0.666667  0.142857  0.122661
1       1.00  0.000000  0.428571  0.207900
2       0.75  0.333333  0.142857  0.284823
3       0.50  0.666667  0.142857  0.145530
4       0.50  0.666667  0.428571  0.062370
...      ...       ...       ...       ...
13480   1.00  0.833333  0.142857  0.076923
13481   1.00  0.166667  0.571429  0.106029
13482   1.00  0.666667  0.428571  0.103950
13483   0.50  0.666667  0.285714  0.103950
13484   1.00  0.166667  0.857143  0.041580

[13485 rows x 4 columns]

In [21]:
#cols = ['carat', 'x','y','z']

#Q1 = train_df[cols].quantile(0.25)
#Q3 = train_df[cols].quantile(0.75)
#IQR = Q3 - Q1

#train_df_clean = train_df[~((train_df[cols] < (Q1 - 1.5 * IQR)) |(train_df[cols] > (Q3 + 1.5 * IQR))).any(axis=1)]
#train_df_clean

In [22]:
diamond_scaler_df['carat'] *= 90
diamond_scaler_df['color'] *= 9
diamond_scaler_df['clarity'] *= 8
diamond_scaler_df['cut'] *= 3

In [23]:
diamond_test_scaler_df['carat'] *= 90
diamond_test_scaler_df['color'] *= 9
diamond_test_scaler_df['clarity'] *= 8
diamond_test_scaler_df['cut'] *= 3

In [24]:
diamond_scaler_df

       carat  cut     color   clarity
0       67.5  0.0  5.142857  1.879070
1       67.5  0.0  5.142857  1.525581
2       67.5  0.0  5.142857  1.060465
3       67.5  0.0  5.142857  2.437209
4       67.5  0.0  5.142857  0.688372
...      ...  ...       ...       ...
40450   90.0  2.0  9.000000  0.632558
40451   90.0  2.0  9.000000  0.613953
40452   90.0  2.0  9.000000  0.186047
40453   90.0  2.0  9.000000  0.111628
40454   90.0  2.0  9.000000  0.204651

[40455 rows x 4 columns]

In [25]:
diamond_test_scaler_df

       carat  cut     color   clarity
0       45.0  2.0  1.285714  0.981289
1       90.0  0.0  3.857143  1.663202
2       67.5  1.0  1.285714  2.278586
3       45.0  2.0  1.285714  1.164241
4       45.0  2.0  3.857143  0.498960
...      ...  ...       ...       ...
13480   90.0  2.5  1.285714  0.615385
13481   90.0  0.5  5.142857  0.848233
13482   90.0  2.0  3.857143  0.831601
13483   45.0  2.0  2.571429  0.831601
13484   90.0  0.5  7.714286  0.332640

[13485 rows x 4 columns]

In [26]:
diamond_scaler_df.corr()

            carat       cut     color   clarity
carat    1.000000  0.024355  0.177741 -0.136154
cut      0.024355  1.000000  0.006035 -0.294027
color    0.177741  0.006035  1.000000 -0.285794
clarity -0.136154 -0.294027 -0.285794  1.000000

In [27]:
X_train, X_test, y_train, y_test = train_test_split(diamond_scaler_df,diamonds_original_withoutcity['price'], test_size=0.2, random_state=42)

In [28]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

In [29]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
mae = mean_absolute_error(y_test,y_pred)
print("mae: %f" %(mae))
Rsquare=regressor.score(X_test,y_test)
print("Rsquare: %f" %(Rsquare))
rmse=np.sqrt(mean_squared_error(y_test,y_pred))
print("rmse: %f" %(rmse))

mae: 327.026504
Rsquare: 0.974137
rmse: 653.012435

In [27]:
from sklearn.ensemble import RandomForestRegressor
regressor1 = RandomForestRegressor(n_estimators = 100, max_depth=2, random_state = 0)
regressor1.fit(X_train, y_train)
y_pred1 = regressor1.predict(X_test)

In [28]:
mae = mean_absolute_error(y_test,y_pred1)
print("mae: %f" %(mae))
Rsquare=regressor.score(X_test,y_test)
print("Rsquare: %f" %(Rsquare))
rmse=np.sqrt(mean_squared_error(y_test,y_pred1))
print("rmse: %f" %(rmse))

mae: 1048.109159
Rsquare: 0.963870
rmse: 1683.544605

In [30]:
from sklearn.tree import DecisionTreeRegressor
regressor2 = DecisionTreeRegressor(random_state = 0)
regressor2.fit(diamond_scaler_df, diamonds_original_withoutcity['price'])
y_pred2 = regressor2.predict(diamond_test_scaler_df)

In [31]:
submisions = pd.DataFrame({"id": diamonds_test_withoutcity["id"], "price": y_pred2})
submisions.to_csv("db/submision1.csv", index=False)

In [32]:
submisions

          id        price
0          0  2594.888889
1          1  4303.000000
2          2  8102.000000
3          3  3322.000000
4          4  1265.500000
...      ...          ...
13480  13480  1534.300000
13481  13481  1991.000000
13482  13482  2340.000000
13483  13483  1629.000000
13484  13484   814.800000

[13485 rows x 2 columns]